//= require 'normalize'
@import "susyone"
@import url(http://fonts.googleapis.com/css?family=Pacifico)

$total-columns  : 5
$column-width   : 6.4em
$gutter-width   : 3em
$grid-padding   : $gutter-width


body
  @include container

  ul
    margin:  0

  nav a
    @include span-columns(5)
    @include omega
    display: block
    padding-top:     1em
    padding-bottom:  1em
    margin-top:      1em
    margin-bottom:   1em
    background: black
    border-radius: .2em
    cursor: pointer
    color: white
    font-weight: bold
    text-decoration: none

  h1, h2, nav a
    text-transform: uppercase
  h1
    font-size: 6em
    position: relative
    padding-top: 3em
    bottom:   -.2em
    line-height: 1em
  h2
    font-size: 3.85em

  header
    position: relative
  #portrait
    width: 100%
    background: white
    text-align: center
    img
      height: 12em
      border-radius: 50%
      opacity: 0.8
      position: relative
      bottom: -2em

  h1,h2,h3, nav a, p, a[href^="mailto"], footer
    text-align: center
    display: block
  h1,h2,h3
    padding: 0
    margin:  0
  section#more
    font-size: 1.5em
    a[href^="mailto"]
      font-size: 2em
  a[href^="mailto"]
    font-family: 'Pacifico', cursive
    text-decoration: none
    color: black
    font-size: 3em


  @include at-breakpoint(33em 20)
    @include container
    max-width: 40em
    header
      display: block
    #portrait
      position: absolute
      z-index: -1
      img
        height: 30em
    h1
      padding-top: .7em
      font-size: 15em
    h2
      font-size: 9.7em
    h3
      font-size: 1.95em
    nav a
      @include span-columns(4)
      @include nth-omega
      margin-top: 3em
      margin-bottom: 2em
