<header>
  <h1 style="bottom: 0"> 404</h1>
  <h3>Page not found... Nothing to see...</h3>
  <h3>Are you looking for <a href="/">me?</a></h3>
</header>
<nav>
  <a href="https://github.com/JonRowe"              title="Code"   >Code</a>
  <a href="https://speakerdeck.com/jonrowe"         title="Talks"  >Talks</a>
  <a href="https://www.flickr.com/photos/mrjonrowe" title="Flickr" >Flickr</a>
  <a href="https://twitter.com/JonRowe"             title="Twitter">Twitter</a>
</nav>
