---
title: JonRowe - Tinker. Sailor. Developer. Spy?
---

<header>
  <section id='portrait'>
    <img src='/images/me.jpg' alt='' opacity='0.5'/>
  </section>
  <h1>Jon</h1>
  <h2>Rowe</h2>
  <h3>Tinker. Sailor. Developer. Spy?</h3>
</header>
<nav>
  <a href="https://github.com/JonRowe"              title="Code"   >Code</a>
  <a href="http://blog.jonrowe.co.uk"               title="Blog"   >Blog</a>
  <a href="https://speakerdeck.com/jonrowe"         title="Talks"  >Talks</a>
  <a href="https://www.flickr.com/photos/mrjonrowe" title="Flickr" >Flickr</a>
  <a href="https://twitter.com/JonRowe"             title="Twitter">Twitter</a>
</nav>
<section id='more'>
  <p>
    Passionate about producing clean code.
  </p>
  <p>
    Specialising in test driven development with Ruby.
  </p>
  <p>
    If you're looking for more information on that, check out my code on GitHub.
  </p>
</section>
<footer>
  &copy; Jon Rowe MMXIV
</footer>
